.content-info {
  border-top: 10px solid $midnight;
  background: $tan;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-ize: .9rem;

  .container {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .menu-footer-nav {
    a {
      text-decoration: none;
      color: $midnight;

      &:hover, &:active, &:focus {
        color: $gray;
        text-decoration: underline;
      }
    }

    li {
      list-style: none;
    }

    ul {
      padding: 0 0 1em;

      @media (min-width: $screen-sm-min) {
        padding: 1em 0 0 0;
      }
    }

    & > li {
      & > a {
        color: $purple;
        @extend .h4;
        font-weight: normal;
        cursor: default;

        &:hover, &:active, &:focus {
          color: $purple;
          text-decoration: none;
        }
      }
    }
  }
}
